In [1]:
#  Question 1
#  Create a variable 
# age and assign it the value 
# 25 . Then print the value of 
# age along with its data type using the 
# type() function

age = 25
print("Value of age:", age)
print("Data type of age:", type(age))

Value of age: 25
Data type of age: <class 'int'>

In [3]:
#  Question 2
#  Assign the number 
# 12.5 to a variable 
# data type. Then assign the value 
# price . Print both the variable and its 
# 12 to the same variable and print its data 
# type again. What do you observe

data_type = 12.5
data_type = 12
data_type = "price"

print("Value of variable:", data_type)
print("Data type of variable:", type(data_type))

Value of variable: price
Data type of variable: <class 'str'>

In [5]:
#  Question 3
#  Create a variable 
# is_raining and set it to 
# True . Print the value of the variable 
# along with its type. Then set 
# is_raining to 
# False and print the new value and 
# type


is_raining = True
print("Value of is_raining:", is_raining)
print("Data type of is_raining:", type(is_raining))
is_raining = False

print("New value of is_raining:", is_raining)
print("Data type of is_raining:", type(is_raining))

Value of is_raining: True
Data type of is_raining: <class 'bool'>
New value of is_raining: False
Data type of is_raining: <class 'bool'>

In [9]:
# Question 4
#  Create a variable 
# my_name and store your full name in it as a string. Then 
# print the value of 
# my_name using single quotes

my_name = "Akshay Yashwant Bharmal" 

print('My name is:', my_name)

My name is: Akshay Yashwant Bharmal

In [11]:
# Question 5
#  ' .
#  Write a Python program that asks the user for their name and age using the 
# input() function. Store the inputs in variables and print a sentence like 
# "Hello, Name]! You are [Age] years old." Ensure you cast the age to an 
# integer

name = input("Enter your name: ")
age = int(input("Enter your age: "))

print(f"Hello, {name}! You are {age} years old.")

Enter your name:  akshay
Enter your age:  21

Hello, akshay! You are 21 years old.

In [13]:
# Question 6
#  Create two variables x and 
# y and assign them the values 
# 10 and 
# 3.5 , 
# respectively. Print their values and types. Then, create a new variable 
# sum_xy and store the sum of 
# x and y. Print the result and its type.

x = 10
y = 3.5
print("Value of x:", x, "Type of x:", type(x))
print("Value of y:", y, "Type of y:", type(y))

sum_xy = x + y

print("Sum of x and y:", sum_xy)
print("Type of sum_xy:", type(sum_xy))

Value of x: 10 Type of x: <class 'int'>
Value of y: 3.5 Type of y: <class 'float'>
Sum of x and y: 13.5
Type of sum_xy: <class 'float'>

In [15]:
#  Question 7
#  Using the 
# type() function, check and print the data type of the following:
#  45.0
#  "hello"
#  None
#  1
#  Assignment 2
# False

print("Type of 45.0:", type(45.0))
print("Type of 'hello':", type("hello"))
print("Type of None:", type(None))
print("Type of 1:", type(1))
print("Type of False:", type(False))

Type of 45.0: <class 'float'>
Type of 'hello': <class 'str'>
Type of None: <class 'NoneType'>
Type of 1: <class 'int'>
Type of False: <class 'bool'>

In [17]:
#  Question 8
#  Write a Python program to print three strings 
# "apple" , 
# "banana" , and 
# "cherry" 
# on the same line, separated by a space. Then modify the program to 
# separate the strings using a comma 
# , instead of a space.


print("apple", "banana", "cherry")
print("apple", "banana", "cherry", sep=",")

apple banana cherry
apple,banana,cherry

In [19]:
#  Question 9
#  Create a variable 
# big_number and assign it a very large integer value (e.g., 
# 987654321987654321 ). Print the value and its type. What do you notice about 
# the size of the number?


big_number = 987654321987654321
print("Value of big_number:", big_number)
print("Type of big_number:", type(big_number))

Value of big_number: 987654321987654321
Type of big_number: <class 'int'>