In [1]:
# Lists, Strings, Dictionaries, and Nested Structures

In [3]:
# 1. Year List Creation 
# Create a list years_list that includes the year of your birth and the next five years (total 6 
# years).


years_list = [2003, 2004, 2005, 2006, 2007, 2008]
print(years_list)

[2003, 2004, 2005, 2006, 2007, 2008]

In [5]:
# 2. Third Birthday Year 
# Print the year in years_list when you were 3 years old. 
# Hint: Remember, your 0th year is the first item. 

print("Third birthday year:", years_list[3])

Third birthday year: 2006

In [7]:
# 3. Oldest Year 
# Which year in years_list represents the most recent (your oldest age)?

print("Most recent year:", years_list[-1])

Most recent year: 2008

In [9]:
# 4. List of Things 
# Create a list called things with the following items: 
# ["mozzarella", "cinderella", "salmonella"]

things = ["mozzarella", "cinderella", "salmonella"]
print(things)

['mozzarella', 'cinderella', 'salmonella']

In [11]:
# 5. Capitalization Check 
# Capitalize the item that refers to a person in the things list. 
# Print the list. Did the original list change?

things_cap = things.copy()
things_cap[1] = things_cap[1].capitalize()
print("After capitalizing:", things_cap)
print("Original list:", things)

After capitalizing: ['mozzarella', 'Cinderella', 'salmonella']
Original list: ['mozzarella', 'cinderella', 'salmonella']

In [13]:
# 6. Surprise List 
# Create a list called surprise_list with these values: 
# ["Groucho", "Chico", "Harpo"]

surprise_list = ["Groucho", "Chico", "Harpo"]
print(surprise_list)

['Groucho', 'Chico', 'Harpo']

In [15]:
# 7. String Transformation 
# Take the last item in surprise_list: 
# • Lowercase it 
# • Reverse it 
# • Capitalize the result 
# Then print it. 

last_item = surprise_list[-1]
transformed = last_item.lower()[::-1].capitalize()
print("Transformed string:", transformed)

Transformed string: Oprah

In [17]:
# 8. English-to-French Dictionary 
# Create a dictionary e2f that maps these: 
# • dog → chien 
# • cat → chat 
# • walrus → morse 
# Print the dictionary.

e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [19]:
# 9. Translate 'walrus' to French 
# Use e2f to print the French word for “walrus.”

print("French for walrus:", e2f['walrus'])

French for walrus: morse

In [21]:
# 10. Reverse Dictionary 
# Create a reverse dictionary f2e from e2f using the .items() method. 
# Print f2e. 

f2e = {french: english for english, french in e2f.items()}
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [23]:
# 11. Translate 'chien' to English 
# Use f2e to print the English word for “chien.”

print("English for chien:", f2e['chien'])

English for chien: dog

In [25]:
# 12. Get All English Words 
# Print the set of all English words (the keys from e2f). 

print("All English words:", set(e2f.keys()))

All English words: {'cat', 'walrus', 'dog'}

In [29]:
# 13. Create a Nested Dictionary (life) 
# Create a dictionary life structured like this: 
# { 
# 'animals': { 
# 'cats': ['Henri', 'Grumpy', 'Lucy'], 
# 'octopi': {}, 
# 'emus': {} 
# }, 
# 'plants': {}, 
# 'other': {} 
# }

life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}